body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

section {
    height: 600px;
}

img {
    width: 100%;
}

/* top-banner part start */


#top-banner {
    background-image: url(../images/header-bg.png);
    background-repeat: no-repeat;
    padding-top: 50px;
    padding-bottom: 50px;
}

.half-width {
    width: 45%;
    float: left;
    margin-left: 3%;
    padding-left: 2%;
}

.half-width h2 {
    padding-top: 90px;
    font-weight: 400;
}

.half-width h1 {
    color: #ec4b75;
    font-weight: 600;
    font-size: 45px;
    margin-top: -15px;

}

p {
    padding-bottom: 15px;
}

.hire {
    text-decoration: none;
    background: #ec4b75;
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}

/* top-banner part ends */

/* bio-part start */

#bio-part {
    height: 800px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-image: url(../images/biography-bg.png);
    background-repeat: no-repeat;
}

#bio-part h2 {
    padding-top: 150px;
    font-weight: 500;
}

/* bio-part ends */

/* work-part start */

#work-part {
    height: 500px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-image: url(../images/latest-work-bg.png);
    background-repeat: no-repeat;
}

.work-h2 {
    font-weight: 500;
    text-align: center;
    margin-bottom: 80px;
}

.one {
    width: 28%;
    float: left;
    margin-left: 3%;
    padding-left: 2%;
}

.two {
    width: 28%;
    float: left;
    margin-left: 3%;
}

.three {
    width: 28%;
    float: left;
    margin-left: 3%;
}

/* work-part ends */

/* client-part start */

#client-part {
    height: 500px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-image: url(../images/latest-work-bg.png);
    background-repeat: no-repeat;
}

.client-h2 {
    font-weight: 500;
    text-align: center;
    margin-bottom: 80px;
}

.bruce {
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    margin-bottom: -10px;
}

.ceo {
    font-weight: 400;
    text-align: center;
    color: #0c0c0c;
}

.lorem {
    font-weight: 400;
    text-align: center;
    margin-bottom: 60px;
}
.last{
    text-align: center;
    background: #ec4b75;
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 10px;
}

/* client-part ends */

footer{
    text-align: center;
    padding-top: 50px;
    color: #0c0c0c;
}


/* footer ends */